@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2em;
  margin-top: 2em;
}

.title {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

h1,
p,
button {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #283618;
  margin: 0;
}

h1 {
  font-size: 7em;
}

p {
  font-size: 7em;
  margin-left: 0.5em;
}

button {
  border-radius: 0.5em;
  border: none;
  background-color: #f6bd60;
  font-size: 2em;
  padding: 0.2em;
  margin-top: 2em;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  transition: 500ms;
}

/*-------------------------------- breakpoints------------------------*/

@media only screen and (max-width: 900px) {
  .App {
    align-items: center;
    margin: 0;
  }

  .title {
    text-align: center;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-size: 25vw;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 20vw;
  }

  button {
    font-size: 3em;
    margin-bottom: 1em;
  }
}
